#event-list-header{
    text-align: center;
}

.event-list-top-text{
    text-align: center;
}

#table-header {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(150, 150, 150);
    color: white;
}

#events-table {
    text-align: center;
    border-collapse: collapse;
    /* border: 3px solid #ddd; */
    border: 3px solid rgb(88, 88, 88);
    /* rgb(88, 88, 88); */
    width: 100%;
}

#events-table td, #events-table th {
    /* border: 1px solid #ddd; */
    border: 1px solid rgb(88, 88, 88);
    padding: 8px;
}

.event:hover {
    background-color: rgb(235, 235, 235);
    transition: 500ms;
}

#event-list-bottom-text{
    text-align: center;
}