/* body{
    margin: 0;
} */

.navbar{
    background-color: rgb(88, 88, 88);
    text-align: center;
    /* position: fixed; */
    /* top: 0; */
    /* margin-bottom: 5vh; */
    width: 100%;
    /* margin: 0; */
    /* margin-top: auto; */
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.navbar-link{
    color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.3em;
    left: 0;
}

.navbar-link:hover {
    color: rgb(175, 175, 175);
    transition: 500ms;
}